* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    width: 300px;
    height: 150px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secend {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}